<div class="page-layout">

  <div class="peo-section">
    <app-peo-cards-component></app-peo-cards-component>
  </div>

  <div class="main-row">
    <div class="left-section">
      <div class="card">
        <app-program-outcome></app-program-outcome>
      </div>
    </div>
    <div class="middle-section">
      <div class="card">
        <app-component1></app-component1>
      </div>
    </div>

    <div class="right-section">
      <div class="card">
        <app-component2></app-component2>
      </div>
      <div class="card">
        <app-component3></app-component3>
      </div>
    </div>
  </div>
  </div>


